.container {
    width: 100%;

    .new-task-list {
        text-align: center;
    }
    
    .task-lists-box {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

